* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav-bar {
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-bar ul li {
    margin-left: 40px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.nav-bar ul li a:hover {
    color: yellow;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, blue, purple);
    text-align: center;
    padding: 100px 0px 100px 0px;
}

.hero h1 {
    margin-top: 80px;
    font-size: 70px;
    animation: heading-animate 3s infinite linear alternate;

}

@keyframes heading-animate {
    from {
        transform: scale(1);
        color: white;
    }

    to {
        transform: scale(1.1);
        color: yellow
    }
}

.hero p {
    margin-top: 25px;
    font-size: 30px;
    color: white;
    animation: para-animate 2s infinite linear alternate;
}

@keyframes para-animate {
    from {
        opacity: 100%
    }

    to {
        opacity: 0%;
    }
}

@keyframes button-animate {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

.hero button {
    margin-top: 25px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    animation: button-animate 1s infinite linear alternate;
}

.about {
    padding: 100px 50px 50px 100px;
    text-align: center;
    background-color: #f2f2f2;
}

.about h1 {
    color: darkblue;
    background-color: #f2f2f2;
    font-size: 50px;
}

.about p {
    margin-top: 20px;
    font-size: 22px;
    line-height: 35px;
}

.courses {
    padding: 100px 50px 50px 100px;
    text-align: center;
}

#head {
    font-size: 50px;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;

}

.card {
    width: 300px;
    text-align: center;
    background-color: lightblue;
    padding: 25px;
    border-radius: 20px;
    transition: all 0.5s;
}

.card:hover {
    background-color: goldenrod;
    transform: translateY(-10px);
}

.card p {
    margin-top: 20px;
    font-size: 18px;
}

.contact {
    padding: 100px 50px 50px 100px;
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.contact input {
    display: block;
    width: 60%;
    height: 50px;
    margin-top: 20px;
    border: none;
    font-size: 18px;
    padding: 10px;
}

.contact textarea {
    display: block;
    width: 60%;
    /* height: 50px; */
    margin-top: 20px;
    border: none;
    font-size: 18px;
    padding: 10px;
}

.contact button {
    margin-top: 25px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: orange;
    transition: 0.5s;
}

.contact button:hover {
    background-color: red;
    color: white;
    transform: scale(1.1);
}

footer {
    background-color: #808080;
    color: white;
    text-align: center;
    padding: 20px;
}

/* responsive for mobile */
@media (max-width:500px) {
    .nav-bar ul {
        flex-direction: column;
        gap: 20px;
    }

    .hero {
        padding-top: 150px;
    }

    .about {
        padding-top: 230px;
    }

    .courses {
        padding-top: 230px;
    }

    .contact {
        padding-top: 230px;
    }

    .contact input,
    .contact textarea {
        width: 100%;
    }

}