* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #080808, #3a4452);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    align-items: center;
    border: 1px solid rgb(161, 157, 157);
    padding: 25px;
    box-shadow: 3px 3px 15px rgb(104, 101, 101);
}

.btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin: 10px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 15px;
    box-shadow: -3px -3px 15px rgb(104, 101, 101);
}

#input-box {
    outline: none;
    box-shadow: 3px 3px 15px rgb(104, 101, 101, 0.5);
    border-radius: 10px;
    width: 250px;
    height: 50px;
    background-color: transparent;
    border: none;
    text-align: right;
    padding-right: 15px;
    padding-top: 7px;
    color: white;
    font-size: 25px;
}

#input-box::placeholder {
    color: white;
    font-size: 25px;

}

.text-green {
    color: rgb(12, 231, 12);
}